

}

.heading{
    text-align: center;
    border: 1px solid lightblue;
    background-color: lightblue;
}

.main-nav > ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    border: 1px solid lightcoral;
    background-color: lightcoral;
}

.main-nav > ul > li{
    display: inline-block; 
}

a{
    text-decoration: none;
}

.stock-news{
    border:1px solid lightblue;
    min-height: 600px;
    background-color: lightblue;
}

.footer-main{
    text-align: center;
}

.contact-info{
    padding-top: 20px;
    min-height: 100px;
}
=======
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header styles */
header{
    padding: 20px 35px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    margin-right: auto;
    
}

header div{
    margin: auto;
}
header a {
    text-decoration: none;
    font-style: none;
}

header nav{
    margin: 7px 0;
}

header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;

}
