.heading {
  text-align: center;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  text-decoration: none;
  color: #5755d9;
}

.instructions {
  min-height: 100px;
}

.form-control {
  border-radius: 5px;
  color: black;
}

.btn.btn-primary {
  border-radius: 5px;
}

.main-nav ul li {
  display: inline-block;
}

.stock-news {
  border: 1px solid lightblue;
  min-height: 600px;
  background-color: lightblue;
  color: #5755d9;
}

.footer-main {
  text-align: center;
  padding-bottom: 1px;
}

input[type="email" i] {
  border-radius: 5px;
}

input[type="text" i] {
  padding: 1px 2px;
  border-radius: 5px;
}

input[type="submit" i] {
  border-radius: 5px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.long-symbol-name{
  font-size: 28px;
  font-weight: bold;
  color: white;
  border: 1px solid #303742;
  background-color: #303742;
}

.symbol-name{
  margin: 0 auto;
  padding-top: 0;
  font-size: 16px;
  font-weight: normal;
  color: #5755d9;
}

.bg-gray-100{
  background-color: #ADD8E6;
}

.current-price{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ADD8E6;
}


