.heading{
    text-align: center;
    font-weight: bolder;
    font-stretch: ultra-expanded;
}

.main-nav > ul > li{
    display: inline-block; 
}

a{
    text-decoration: none;
}

.stock-news{
    border:1px solid lightblue;
    min-height: 600px;
    background-color: lightblue;
}

.footer-main{
    text-align: center;
}

.contact-info{
    padding-top: 20px;
    min-height: 100px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


