*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header styles */
header{
    padding: 20px 35px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    margin-right: auto;
    
}

header div{
    margin: auto;
}
header a {
    text-decoration: none;
    font-style: none;
}

header nav{
    margin: 7px 0;
}

header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
}

header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
}

